Django==5.1.6
djangorestframework==3.14.0
drf-yasg==1.21.7
django-environ==0.10.0
django-extensions==3.2.3
dj-rest-auth==7.0.1
django-allauth==0.63.6
PyJWT==2.10.1
pillow==10.4.0
psycopg2==2.9.10  
mysqlclient==2.2.4  
mssql-django==1.1 
gunicorn==20.1.0  
whitenoise==6.2.0  
requests==2.32.3